<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'bootstrap5.css' %}" />
		<link rel="stylesheet" href="{% static 'custom.css' %}" />
		<title>Apprendre Django avec nbesoro!</title>
	</head>
	<body>
		<div class="container">
			<div class="d-flex align-items-center justify-content-center mt-5">
				<form class="w-50" method="POST" action="">
					<h1 class="text-center">Connexion</h1>

					<button class="btn btn-primary">Se connecter</button>
					<p>
						<a href="{% url 'signup' %}"
							>Pas de compte Créer un nouveau</a
						>
					</p>
				</form>
			</div>
		</div>
	</body>
</html>
